<div>
  <ul>
    <li><%= link_to "Home", store_path %></li>
    <li><%= link_to "Shoes", browse_shoes_path %></li>
    <li><%= link_to "foods", browse_foods_path %></li>
    <li><%= link_to "clothes", browse_clothes_path %></li>
  </ul>
</div>