

  <div class="container">
        <h3>Category</h3>
        <ul class="">
          <li><%= link_to "Home", browse_clothes_path %></li> 
          <li><%= link_to "Shoes", browse_clothes_path %></li>
          <li><%= link_to "Foods", browse_clothes_path %></li>
          <li><%= link_to "Clothes", browse_clothes_path %></li>
        </ul>
    </div><!--/container-->
