
<ul class="side-nav">
  <h4>Category</h4>
  <li class="divider"></li>
  <li><%= link_to "Shoes", browse_shoes_path %></li>
  <li><%= link_to "Foods", browse_foods_path %></li>
  <li><%= link_to "Clothes", browse_clothes_path %></li>
</ul>