
<!--=== Copyright ===-->
<div class="copyright">
  <div class="container">
    <div class="row-fluid">
      <div class="span8">           
        <p>2013 &copy; Unify. ALL Rights Reserved. <%= link_to "Privacy Policy", about_path %> | <%= link_to "Terms of Service", about_path %></p>                
      </div>
      <div class="span4"> 
        <%= link_to image_tag("logo2-default.png", class: "pull-right"), store_path %>
      </div>
    </div><!--/row-fluid-->
  </div><!--/container--> 
</div><!--/copyright--> 
<!--=== End Copyright ===-->