
      <div class="span4">
        <div class="headline"><h3>Contact Us</h3></div> 
          <address>
            1000 Young Street <br />
            Toronto, ON <br />
            Canada <br />
            Phone: 800 123 3456 <br />
            Email: <%= mail_to "suppport@localmerchant.com", "Support" %>
          </address>
      </div>